.row{
    text-align: center;
}
.about{
    text-align: center;
}

input[type=text],input[type=email],#comment {
    background: transparent;
    color: rgb(212, 223, 245);
}
.form-control::-webkit-input-placeholder{
    color:white;
}
.contactus{
    text-align: center;
}