.row{
    text-align: center;
}
.about{
    text-align: center;
}

input[type=text],input[type=email],#comment {
    background: transparent;
    color: rgb(197, 208, 231);
}
.form-control::-webkit-input-placeholder{
    color:white;
}
.contactus{
    text-align: center;
    height: 450px;
    color: white;
    background-image: url("../img/c_image.jpg");

}
.social{
    text-align: center;
    padding: 20px;
}
.services{
    text-align: center;
}
.welcome{
    text-align: center;
}
.about{
    text-align: center;
    height: 300px;
    padding: 30px;
    line-height: 190%;
}
.contactus .txtb label,input, textarea{
    text-align: center;
    display: inline-block;
}
.port{
    text-align: center;
}

#whatWeDo {
    padding-top: 45px;
    padding-bottom: 30px;
    text-align: center;
    height: auto;
}
#whatWeDo h1 {
    font-size: 30px;
}
#whatWeDo h1::after {
    content: '';
    background: #222;
    display: block;
    height: 2px;
    width: 15%;
    margin: 15px auto 45px;
}
#whatWeDo .container {
    position: relative;
}
#whatWeDo h6 {
    font-weight: 500;
}
#whatWeDo p {
    font-size: 14px;
}
#whatWeDo .doings {
    height: 190px;
}
#whatWeDo .icon {
    height: 130px;
}
#whatWeDo .what1 {
    display: none;
}

#whatWeDo .wedo1 {
    display: show;
}

#whatWeDo .what2 {
    display: none;
}

#whatWeDo .wedo2 {
    display: show;
}

#whatWeDo .what2 {
    display: none;
}

#whatWeDo .wedo3 {
    display: show;
}

#whatWeDo .what3 {
    display: none;
}

#whatWeDo .icon:hover .doings p {
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 601px) {
    #whatWeDo h1::after {
      margin: 15px auto 20px;
      width: 35%;
    }
   }

@media screen and (max-width: 1000px) {
    #whatWeDo .doings {
      height: auto;
      cursor: pointer;
    }
   }

