.row{
    text-align: center;
}
.about{
    text-align: center;
}

input[type=text],input[type=email],#comment {
    background: transparent;
    color: rgb(212, 223, 245);
}
.form-control::-webkit-input-placeholder{
    color:white;
}
.contactus{
    text-align: center;
    height: 450px;
    color: white;
    background-image: url("img/c_image.jpg");

}
.social{
    text-align: center;
    padding: 20px;
}
.services{
    text-align: center;
}
.welcome{
    text-align: center;
}
.about{
    text-align: center;
    height: 300px;
    padding: 30px;
    line-height: 200%;
}
.wedo{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right:-20px;
    margin-left: -20px;
    padding: 0px;
    display: inline;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.contactus .txtb label,input, textarea{
    text-align: center;
    display: inline-block;
}
.Whatwedo{
   text-align: center;
   display: inline;
   padding-top: 20px;
   padding-bottom: 20px;
  
}
.wedo{
   text-align: center;
   padding-top: 40px;
   
}
.port{
    text-align: center;
}